{% extends "layout.html" %}
{% block content %}
{% if content['ids'] %}
<div class="panel panel-default">
<div class="panel-heading"><b>Processed</b><br>{{ content['ids'] }}</div>
<div class="panel-body">
{{ content['data_ids'] }}
</div>
</div>
{% endif %}
{% if content['fnames'] %}
<div class="panel panel-default">
<div class="panel-heading"><b>Processed</b><br>{{ content['fnames'] }}</div>
<div class="panel-body">
{{ content['data_fnames'] }}
</div>
</div>
{% endif %}

<div class="panel panel-default">
<div class="panel-heading">Predict Using IDs</div>
<div class="panel-body">
	 <form action="#">
	  <div class="form-group">
	    <label for="ids">Enter ID's (space separated)</label>
	    <input type="ids" class="form-control" id="ids" name="ids">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form> 
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading">Predict Using File Names</div>
<div class="panel-body">
	 <form action="#">
	  <div class="form-group">
	    <label for="fnames">Enter Filenames (space separated)</label>
	    <input type="fnames" class="form-control" id="fnames" name="fnames">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form> 
</div>
</div>
{% endblock %}
