{% extends "layout.html" %}
{% block content %}
<div class="panel panel-default col-xs-4" >
<div class="panel-heading">Predict Using IDs</div>
<div class="panel-body">
	 <form action="predict" target="results">
	  <div class="form-group">
	    <label for="ids">Enter ID's (space separated)</label>
	    <input type="text" class="form-control" id="ids" name="ids">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form> 
</div>
</div>

<div class="panel panel-default col-xs-4">
<div class="panel-heading">Predict Using File Names</div>
<div class="panel-body">
	 <form action="predict" target="results">
	  <div class="form-group">
	    <label for="fnames">Enter Filenames (space separated)</label>
	    <input type="text" class="form-control" id="fnames" name="fnames">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form> 
</div>
</div>

<div class="panel panel-default col-xs-4">
<div class="panel-heading">Predict via Uploading Media</div>
<div class="panel-body">
	 <form action="upload" target="results" method="post" enctype="multipart/form-data">
	  <div class="form-group">
	    <label for="file">Upload File</label>
	    <input type="file" class="form-control" id="file" name="file">
	  </div>
	  <input type="submit" class="btn btn-default"  value="Upload">
	</form> 
</div>
</div>
<iframe id="results" name="results" class="col-xs-12 col-sm-12 col-md-12" style="min-height: 1024px;"></iframe>
{% endblock %}
