name: Mark stale issues and pull requests

on:
  schedule:
  - cron: "0 0 */14 * *"

jobs:
  stale:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/stale@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        stale-issue-message: 'Is follow-up required?'
        stale-pr-message: 'What should we do now?'
        stale-issue-label: 'no-issue-activity'
        stale-pr-label: 'no-pr-activity'
